@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
	font-family: Nunito, sans-serif;
}

#header {
	margin-top: -1rem;
}

.user-pretext {
	color: grey;
}

.progress {
	height: 1.5rem;
}

.separator {
	color: lightgrey;
}

/* Cards */

.card {
/*	padding: 1rem 1rem 1rem 1rem;*/
	margin-top: 1rem;
}

.challenge-card {
	min-height: 10rem;
}

.challenge-solved {
	background-color: #e7e7e7 !important;
}

.row > .card {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.challenge-card > .card-body,
.challenge-card > .card-footer {
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}

/* Difficulty colourings */
	
.difficulty-easy {
	background-color: #198754 !important;
}

.difficulty-novice {
	background-color: #24ff00 !important;
	color: #212529 !important;
}

.difficulty-medium {
	background-color: #ffc107 !important;
	color: #212529 !important;
}

.difficulty-advanced {
	background-color: #ff8b00 !important;
}

.difficulty-hard {
	background-color: rgb(220, 53, 69) !important;
}

/* Course */

.challenge-embed {
	width: 100%;
}