{% extends 'partials/base.jinja2' %}
{% block title %}Admin{% endblock %}
{% block content %}

<p>Add a challenge</p>
<form method="POST" enctype="multipart/form-data">
	<input type="file" name="file">
	<input type="text" name="challengeName" placeholder="Name">
	<input type="text" name="description" placeholder="Description">
	<input type="text" name="shortDesc" placeholder="shortDesc">
	<input type="text" name="flag" placeholder="Flag">
	<input type="number" name="points" placeholder="Points">
	<input type="text" name="difficulty" placeholder="Difficulty">
	<input type="text" name="category" placeholder="category">
	<input type="number" name="source" placeholder="source">
	<input type="submit">
</form>

<p>Remove a challenge</p>
<form id="removeChallenge">
	<input type="text" name="challengeName" placeholder="Name">
	<input type="submit">
</form>

<script>

document.forms[0].addEventListener("submit", e => {
	let challengeName = e.target.challengeName.value;
	e.target.action = `/api/admin/challenge/${challengeName}`;
})

removeChallenge.addEventListener("submit", e => {
	e.preventDefault();
	let challengeName = e.target.challengeName.value;
	fetch(`/api/admin/challenge/${challengeName}`, { method: "DELETE" });
});

</script>

{% endblock %}