{% extends 'partials/base.jinja2' %}
{% block title %}Challenges{% endblock %}
{% block content %}

<script src="/static/js/challenges.js"></script>
<script src="/static/js/user.js"></script>

<div class="container" id="challengesContainer">
<!-- 	<div class="row">
		<div class="card col mx-1 challenge-card">

			<div class="card-body">
				<h4 class="mt-3"><b>Cookies</b> <span class="separator">|</span> curly</h4>
				<p>
					<span class="badge difficulty-hard">Difficulty: Hard</span>
					<span class="badge bg-primary">Points: 500</span>
				</p>
				<p class="mt-4">
					Can you beat this challenge? Flag is in the lower left corner. 
				</p>
			</div>

			<div class="card-footer">
				<a href="#" role="button" class="btn btn-primary my-1">Play challenge</a>
			</div>

		</div>
		<div class="card col mx-1 challenge-card">
			
			<ul class="list-group list-group-flush">
				<li class="list-group-item mt-2">
					<h4><b>SQL</b> <span class="separator">|</span> SQL-Injector</h4>
					<p>
						<span class="badge difficulty-novice">Difficulty: Novice</span>
						<span class="badge bg-primary">Points: 200</span>
					</p>
					<p class="mt-4">
						Can you inject your SQL into these SQLites? Flag is in the corner.
					</p>
				</li>
				<li class="list-group-item mt-3">
					<a href="#" role="button" class="btn btn-primary">Play challenge</a>
				</li>
			</ul>

		</div>
		<div class="card col mx-1 challenge-card"></div>
	</div>
	<div class="row">
		<div class="card col mx-1 challenge-card"></div>
		<div class="card col mx-1 challenge-card"></div>
		<div class="card col mx-1 challenge-card"></div>
	</div>
	<div class="row">
		<div class="card col mx-1 challenge-card"></div>
		<div class="card col mx-1 challenge-card"></div>
		<div class="card col mx-1 challenge-card"></div>
	</div>
	<div class="row">
		<div class="card col mx-1 challenge-card"></div>
		<div class="card col mx-1 challenge-card"></div>
		<div class="card col mx-1 challenge-card"></div>
	</div> -->
</div>

<script>
// define elements from the DOM
let challengesContainer = document.getElementById("challengesContainer");

// display the challenges in a grid format
async function displayChallenges() {

	// get the challenges from the api
	let username = await fetchUsername();
	let challenges = await fetchChallengeInfos();
	let solvedChallenges = await fetchSolvedChallengeNames(username);

	// challenges will be shown in rows of 3
	// this keeps track of the number of challenges
	let challNo = 0;

	challenges.forEach(challenge => {
		challNo++;

		// every 3rd challenge starting with the 1st, create a new row and append it to the challenges container
		if (challNo % 3 === 1) {
			rowElement = document.createElement("div");
			rowElement.className = "row";
			challengesContainer.appendChild(rowElement);
		}

		let { challengeName, category, points, difficulty, shortDesc } = challenge;
		let solved = solvedChallenges.includes(challengeName);

		rowElement.innerHTML += `
			<div class="card col-sm mx-1 challenge-card ${solved ? "challenge-solved" : ""}">

				<div class="card-body">
					<h4 class="mt-3"><b>${category}</b> <span class="separator">|</span> ${challengeName}</h4>
					<p>
						<span class="badge difficulty-${difficulty}">Difficulty: ${difficulty}</span>
						<span class="badge bg-primary">Points: ${points}</span>
						${
							solved ? `<span class="badge bg-success">Solved!</span>` : ""
						}
					</p>
					<p class="mt-4">
						${shortDesc}
					</p>
				</div>

				<div class="card-footer">
					<a href="/challenge/${challengeName}" role="button" class="btn btn-primary my-1">Play challenge</a>
				</div>

			</div>
		`;
	})

	showContent();
}

displayChallenges();
</script>
{% endblock %}