{% extends 'partials/base.jinja2' %}
{% block title %}WebLearn{% endblock %}
{% block content %}

<div class="container">
	<div class="card">
		<div class="card-body pb-0">
			<h2 class="mb-3">🎉 Welcome!</h2>
			<p>
				Welcome to <strong>WebLearn</strong>! This is a platform designed to help beginners in web security.
			</p>
		</div>
	</div>

	<div class="card">
		<div class="card-body pb-0">
			<p>
				🤔 To get started, <a href="/register">make an account</a> if you haven't done so already, or <a href="/login">log in</a> to an already existing one.
			</p>
		</div>
	</div>

	<div class="card">
		<div class="card-body pb-0">
			<p>
				💡 Otherwise, check out the <a href="/courses">interactive courses</a> to learn about a topic you like, or dive straight into the action with <a href="/challenges">challenges!</a>
			</p>
		</div>
	</div>

	<div class="card">
		<div class="card-body pb-0">
			<p>
				🏆 Compete with other users and reach the top of the global <a href="/scoreboard">scoreboard</a>!
			</p>
		</div>
	</div>
</div>

<script>
showContent();
</script>
{% endblock %}